/.settings/
/.project
/.idea
/target
/.classpath
/.factorypath
*/.settings/
*/.project
*/.classpath
*/.factorypath
*/.gitignore
/SpringRestHibernateExample.iml
/nb-configuration.xml
*/target/
**/node_modules/
**/bower_components/
**/npm-debug.log
**/data/
**/typings/
**/app/**/*.module.js
**/app/**/*.model.js
**/app/**/*.service.js
**/app/**/*.component.js
**/*.js.map
**/app/**/*.extensions.js
**/app/rxjs-extensions.js
**/app/**/*.spec.js
**/app/main.js
.project
**/.springBeans
